<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      List
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div padding>
      <ion-card>
    <ion-item>
        <ion-label position="fixed">ค้นหา</ion-label>
        <ion-input [(ngModel)]="searchLogs" type="text" (keyup)="onsearch(datalogsearch)" ></ion-input>
      </ion-item>
    </ion-card>
    </div>

  <div class="list-layout">
    <div
      style="overflow: auto;max-height: 70vh;width: 70vw;"
      *ngIf="dataLogs.length > 0"
    >
      <div
        style="position: absolute; z-index: 1000;right: 20px;bottom: 20px;"
      ></div>
      <table class="table table-dark">
        <thead>
          <tr>
            <th scope="col">No</th>
            <th scope="col">key</th>
            <th scope="col">TMP</th>
            <th scope="col">HU</th>
            <th scope="col">Edit</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let i of datalogsearch; let x = index">
            <td style="vertical-align: middle;">{{ x + 1 }}</td>
            <td style="vertical-align: middle;">{{ i.key }}</td>
            <td style="vertical-align: middle;">{{ i.payload.Temperature }}</td>
            <td style="vertical-align: middle;">{{ i.payload.Humididy }}</td>
            <td style="vertical-align: middle;">
                <span style="margin: 0px 5px 0px 5px">
              <button
                
                type="button"
                class="btn btn-info btn-sm"
                [routerLink]="['/list/listupdate', convertjson(i)]"
                routerDirection="forward"
              >
                เเก้ไข
              </button>
                </span>
                <span style="margin: 0px 5px 0px 5px">
              <button
                type="button"
                class="btn btn-success btn-sm"
                (click)="onDel(i.key)"
              >
                ลบ
              </button>
            </span>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</ion-content>
